extends layout

block content
  h1 New Book
  form(method="post" action="/books/new")
   if errors
    h2.error Uh oh!
    ul.error
      each error in errors
        li= error.message
  p
    label(for="title") Title
    input#title(name="title" type="text")

  p
    label(for="author") Author
    input#author(name="author" type="text")

  p
    label(for="genre") Genre
    input#genre(name="genre" type="text")

  p
    label(for="year") Year
    input#year(name="year" type="text")

  p
    input(type="submit" value="Create New Book")

  P
    a.button(href="/books") Cancel